/* Swiper Pagination Container */
.swiper-pagination {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
    margin-left: 100px;
    margin-top: 30px;
  }
  
  /* Bullet Dots */
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: #f8f9f9; /* Default gray */
    position: relative;
    z-index: 2;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
    /* margin: 0px 100px; */
  }
  
  /* Active Bullet */
  .swiper-pagination-bullet-active {
    background-color: #29ABE2; /* Active blue */
    transform: scale(1.2);
  }
  
  /* Connecting Line */
  .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    width: 120px; /* Adjust spacing between dots */
    height: 10px;
    /* border-radius: 10px; */
    background-color: #d1d5db; /* Default gray */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* margin: 0px 100px; */
  }
  
  /* Active Line Progression */
  .swiper-pagination-bullet-active::before {
    background: linear-gradient(to right, #29ABE2 100%, #d1d5db 0%);
  }
  